
textarea {
  resize: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.1);

}

.table-bordered th,
.table-bordered td {
  border: 1px solid #34495e;
}

.table {
    color: white !important;
}
.table thead th {
  background-color: #34495e;
}

.table tbody tr {
  cursor: pointer;
}

.table-striped {
  > tbody > tr:nth-of-type(#{$table-striped-order}) > * {
    --#{$variable-prefix}table-accent-bg: var(--#{$variable-prefix}table-striped-bg);
/*    color: var(--#{$variable-prefix}table-striped-color);*/
  }
}

.table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.logon { background-color: #d35400 !important; color: #fff; }
.heartbeat { background-color: #95a5a6 !important; color: #fff; }
.newordersingle { background-color: #27ae60 !important; color: #fff; }
.erfill { background-color: #3498db !important; color: #fff; }
.reject { background-color: #e74c3c !important; color: #fff; }

.beginstring { background-color: #e67e22 !important; color: #fff; }
.bodylength { background-color: #1abc9c !important; color: #fff; }
.msgtype { background-color: #9b59b6 !important; color: #fff; }
.msgseqnum { background-color: #34495e !important; color: #fff; }
.sendercompid { background-color: #e74c3c !important; color: #fff; }
.sendingtime { background-color: #f39c12 !important; color: #fff; }
.targetcompid { background-color: #2980b9 !important; color: #fff; }
.encryptmethod { background-color: #8e44ad !important; color: #fff; }
.heartbtint { background-color: #2ecc71 !important; color: #fff; }
.checksum { background-color: #7f8c8d !important; color: #fff; }

body {
  background-color: #2c3e50;
  color: #ecf0f1;
  font-size: 75% !important;
}

.form-control {
  display: block;
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  font-family: $input-font-family;
  @include font-size($input-font-size);
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  font-size: 100%;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;
  appearance: none; // Fix appearance for date inputs in Safari

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius($input-border-radius, 0);

  @include box-shadow($input-box-shadow);
  @include transition($input-transition);

  &[type="file"] {
    overflow: hidden; // prevent pseudo element button overlap

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    @if $enable-shadows {
      @include box-shadow($input-box-shadow, $input-focus-box-shadow);
    } @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: $input-focus-box-shadow;
    }
  } 